* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196f3;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media .social-media__icon {
  fill: currentColor;
}
.social-media .social-media__link {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
}
.social-media .social-media__link:hover,
.social-media .social-media__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-media .social-media__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-media__link {
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
.footer-social-media__link:hover,
.footer-social-media__link:focus {
  background-color: #2196f3;
  color: white;
  fill: currentColor;
}

.section-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-item-description {
  padding: 30px 0px;
}

.our-team__employee-name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.features__title--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: flex;
  justify-content: center;
}

.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__image {
  background-color: rgb(245, 244, 250);
  padding: 25px 100px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.find-us-container {
  margin-left: 70px;
}

.find-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__section {
  width: 1200px;
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #2f303a;
  display: flex;
}

.footer-address {
  display: flex;
  font-style: normal;
  color: #ffffff;
  width: 231px;
}
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.footer-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #ffffff;
  width: 231px;
}

.footer-address__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
}

.header__contacts-list {
  display: flex;
  margin-left: auto;
}
.header__contacts-list .header__contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header__contacts-list .header__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
}
.header__contacts-list .header__contacts-link:hover,
.header__contacts-list .header__contacts-link:focus {
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #2196f3;
  fill: #2196f3;
}
.header__contacts-list .header__contacts-svg {
  margin-right: 10px;
  fill: currentColor;
}

header {
  border-bottom: 1px solid var(--border-color);
}

.header__topline {
  display: flex;
  align-items: center;
}

.our-specialty-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 1200px;
  background-image: linear-gradient (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/studio-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-specialty-section .our-specialty-section__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-specialty-section .our-specialty-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}
.our-specialty-section .our-specialty-section__button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.our-specialty-section .our-specialty-section__button:hover,
.our-specialty-section .our-specialty-section__button:focus {
  background-color: #1976d2;
}

.header__logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 97px;
}
.header__logo:hover,
.header__logo:focus {
  color: #1976d2;
}

.footer-address__logo {
  display: block;
  margin-bottom: 9px;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 97px;
}
.footer-address__logo:hover,
.footer-address__logo:focus {
  color: #1976d2;
}

.modal-window__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-button:hover,
.modal-window__close-button:focus {
  background-color: #2196f3;
}

.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.modal-window .modal-window__title {
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: cal(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-window .modal-window__form {
  width: 448px;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
}
.modal-window .modal-window__input {
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: #afb1b8 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding-left: 42px;
}
.modal-window .modal-window__input:hover,
.modal-window .modal-window__input:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-window .modal-window__input-comment {
  padding: 12px 16px;
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-window .modal-window__input-comment:hover,
.modal-window .modal-window__input-comment:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-window .modal-window__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-window .modal-window__label:hover .modal-window__icon,
.modal-window .modal-window__label:focus .modal-window__icon,
.modal-window .modal-window__label:active .modal-window__icon {
  color: #2196f3;
  fill: currentColor;
}
.modal-window .modal-window__label:not(last-child) {
  margin-bottom: 10px;
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #1976d2;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #1976d2;
}

.modal-i-agree {
  position: relative;
  width: 448px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  fill: black;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-label {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
}

.checkbox:checked + .modal__checkbox-label > .modal-checkbox {
  background-color: #2196f3;
  border-color: white;
}

.modal__terms-condition-link:hover,
.modal__terms-condition-link:focus {
  color: #1976d2;
}

.modal__i-agree-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__terms-condition-link:visited {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__terms-condition-link:hover,
.modal__terms-condition-link:focus {
  color: #1976d2;
}

.what-we-do {
  padding-top: 0;
}
.what-we-do .what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.what-we-do .what-we-do__list {
  display: flex;
  justify-content: center;
}
.what-we-do .what-we-do__item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do .what-we-do__thumbnail {
  position: relative;
  background-color: #ffffff;
}
.what-we-do .what-we-do__thumbnail > .what-we-do__label {
  width: 370px;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team .our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our-team .our-team__list {
  display: flex;
  justify-content: center;
}
.our-team .our-team__item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team .our-team__item:not(:last-child) {
  margin-right: 30px;
}
.our-team .our-team__item-description {
  padding: 30px 0px;
}
.our-team .our-team__employee-name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team .our-team__employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.regular-customers__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.regular-customers__list {
  display: flex;
  justify-content: center;
}

.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers__item {
  width: 170px;
}

.regular-customers__link {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.regular-customers__link:hover,
.regular-customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link:hover,
.navigation__link:focus {
  
  color: #2196f3;
  fill: #2196f3;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__current-page {
  color: #2196f3;
  position: relative;
  display: inline-block;
}

.navigation__current-page::after {
  content: "";
  width: 100%;
  background: #2196f3;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.newsletter {
  margin-left: 93px;
}

.newsletter__title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter__container {
  margin-left: 93px;
}

.newsletter__form {
  display: flex;
}

.newsletter__lable {
  margin-right: 12px;
}

.newsletter__input {
  padding: 15px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
.newsletter__input:hover,
.newsletter__input:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.newsletter__button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.newsletter__button:hover,
.newsletter__button:focus {
  background-color: #1976d2;
}
.newsletter__button__button:hover,
.newsletter__button__button:focus {
  background-color: #1976d2;
}
.newsletter__button .newsletter__send-icon {
  margin-left: 30px;
}

.portfolio__button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__work-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 26px;
  border: none;
  border-radius: 4px;
}
.portfolio__work-button:hover,
.portfolio__work-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-image__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image__item {
  background: #ffffff;
  margin-bottom: 30px;
}

.portfolio-image__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-image__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-image__item:hover,
.overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image__card-contact {
  padding: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-image__project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio-image__project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.box {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.box:hover .overlay,
.portfolio-image__item:hover .overlay {
  transform: translatey(0);
}

.overlay-text {
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
} /*# sourceMappingURL=main.css.map */
