@use "../utils/variables";
.footer__section {
    width: 1200px;
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    background-color: variables.$backgroud-color;
    display: flex;
}